/* Layout */

body {
    width: 99%;
	min-height: 200px;
    background-color: #000e2a;
}

.headerindexhp {
	width: 1350px;
	height: 300px;
}

.ki-kd{
	text-align: center;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.materi{
	text-align: center;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.tentang{
	text-align: center;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.kikd {
	width: 250px;
	height: 250px;
}

.materii {
	width: 250px;
	height: 250px;
}

.tentangg {
	width: 250px;
	height: 250px;
}

.hlmprtst {
	float: left;
    margin-top: 80px;
	margin-left: 29px;
    color: white;
    font-size: 24px;
    text-align: center;
	padding: 10px;
	border: 5px double #8e6bc5;
}

.hlmprtst1 {
	float: right;
    margin-top: 80px;
	margin-right: 29px;
    color: white;
    font-size: 24px;
    text-align: center;
	padding: 10px;
	border: 5px double #8e6bc5;
}

.tmblprtst {
    background-color: #8e6bc5;
    color: white;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
    width: auto;
    text-align: center;
	font-size: 24px;
    display: inline-block;
    cursor: pointer;
}

.tmblprtst:hover{
	background-color: #d9c2fa;
  	color: black;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 4px;
	border-radius: 20px;
	color: white;
  }
  
  a:hover {
	color: black;
  }

  .previous {
	color: white;
	background-color: #8e6bc5;
	font-family: 'Bookman Old Style', serif;
	margin-top: 25px;
	margin-left: 15px;
	display: inline;
  }

  .previous:hover {
	background-color: #8bb4d0;
  }

/* Mobile layout*/
@media (max-width: 992px) {
	.headerindexhp {
		width: 1350px;
		height: 450px;
	}

	.ki-kd {
		text-align: center;
    	float: left;
    	margin-left: 460px;
    	margin-top: 70px;
	}

	.materi {
		text-align: center;
    	float: left;
    	margin-left: 460px;
    	margin-top: 70px;
	}

	.tentang {
		text-align: center;
    	float: left;
    	margin-left: 460px;
    	margin-top: 70px;
	}

	.kikd {
		width: 500px;
		height: 500px;
	}
	
	.materii {
		width: 500px;
		height: 500px;
		margin-top: 200px;
	}
	
	.tentangg {
		width: 500px;
		height: 500px;
		margin-top: 450px;
	}
}