/* Layout */

body {
    width: 99%;
	min-height: 200px;
    background-color: #000e2a;
}

.headerindexhp {
	width: 1350px;
	height: 300px;
}

.ki-kd{
	text-align: center;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.materi{
	text-align: center;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.tentang{
	text-align: center;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.kikd {
	width: 250px;
	height: 250px;
}

.materii {
	width: 250px;
	height: 250px;
}

.tentangg {
	width: 250px;
	height: 250px;
}

/* Mobile layout*/
@media (max-width: 992px) {
	.headerindexhp {
		width: 1350px;
		height: 450px;
	}

	.ki-kd {
		text-align: center;
    	float: left;
    	margin-left: 460px;
    	margin-top: 70px;
	}

	.materi {
		text-align: center;
    	float: left;
    	margin-left: 460px;
    	margin-top: 70px;
	}

	.tentang {
		text-align: center;
    	float: left;
    	margin-left: 460px;
    	margin-top: 70px;
	}

	.kikd {
		width: 500px;
		height: 500px;
	}
	
	.materii {
		width: 500px;
		height: 500px;
		margin-top: 200px;
	}
	
	.tentangg {
		width: 500px;
		height: 500px;
		margin-top: 450px;
	}
}